<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyNews</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
</head>
<body>
    <header>
  <div class="logo">
    <a href="/">
      MyNews
    </a>
  </div>
  <div class="menu">
    <ul>
                @if (User.IsInRole("Administrator"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                       asp-controller="Admin"
                       asp-action="Index">
                            Управление пользователями
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark"
                       asp-controller="Article"
                       asp-action="List">
                            Создание новостей
                        </a>
                    </li>
                }
                @if (User.IsInRole("Redactor"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                       asp-controller="Article"
                       asp-action="List">
                            Создание статей и новостей
                        </a>
                    </li>
                }
                @if (User.IsInRole("Moderator"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                       asp-controller="Article"
                       asp-action="List">
                            Управление статьями и новостями
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
         <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
    </ul>
  </div>
  <div class="login_reg">
       <partial name="_LoginPartial" />
  </div>
</header>
    <div class="container">
        <div class="col-2">
            <!--
            <vc:menuCategories></vc:menuCategories>
            -->
            @await Component.InvokeAsync("MenuRubric")
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2022 - MyNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
